/* FONTS */
$fa-font-path: "../../assets/fonts/webfonts";
$font-base: avenirBook;
$font-avenir-medium-bold: avenirMediumBold;
$font-yu-gothic-regular: yuGothicRegular;
$font-agencyfb-regular: agencyfbRegular;

/* COLORS */
$color-base: #38dcc8;
$color-base-medium: #54e9d7;
$color-white: #fff;
$color-lightest-gray: #fafafa;
$color-lightest-gray1: #f0f0f0;
$color-light-gray: #e9e9e9;
$color-light-gray1: #cfcfcf;
$color-heading-gray: #17191b;
$color-medium-gray: #6d6d6d;

$color-dark-gray: #393939;
$color-footer-bg: #0e1419;

/* RGBA COLORS */
$color-black-opacity-13: rgba(0,0,0,.13);
$color-black-opacity-80: rgba(0,0,0,.8);
