.contact {
    background-color: $color-light-gray;
    border-bottom: 4px solid $color-base;
    .contact-form {
        border-right: 0;
        padding: 46px 0;
        transition: all .6s ease;
        @include media-breakpoint-up(md) {
            border-right: $color-white solid 1px;
        }
        .form-group {
            margin-bottom: get-px-to-rem(35px);
            padding: 0 get-px-to-vw(90);
            @include media-breakpoint-up(sm) {
                padding-right: get-px-to-vw(90);
            }
            input {
                @include form-fields();
                &[name=name], &[name=email] {
                    max-width: get-px-to-vw(800);
                    @include media-breakpoint-up(lg) {
                        max-width: get-px-to-vw(450);
                    }
                    &:first-child {
                        margin-right: 5px;
                    }
                }
                &:focus {
                    outline: none;
                }
            }
            textarea {
                @include form-fields();
                min-height: 100px;
                max-height: 100px;
                outline: none;
            }
        }
    }
    .contact-details {
        padding: 0 get-px-to-vw(90) 46px get-px-to-vw(90);
        text-align: center;
        transition: all .3s;
        @include media-breakpoint-up(md) {
            padding-top: 46px;
            text-align: left;
        }
        color: $color-medium-gray;
        h4 {
            padding-bottom: get-px-to-rem(18px);
        }
        p {
            padding-bottom: get-px-to-rem(36px);
            line-height: get-px-to-rem(22px);;
        }
        a {
            color: $color-medium-gray;
        }
        .social-media {
            border-top: 1px solid $color-medium-gray;
            margin-top: get-px-to-rem(24px);
            padding-top: get-px-to-rem(26px);
            a {
                color: $color-medium-gray;
                font-size: get-px-to-rem(20px);
                margin-right: get-px-to-vw(20);              
                &:hover {
                    color: $color-dark-gray;
                }
            }
        }
    }
}