.hallmarks {
    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        @include media-breakpoint-up(sm) {
            flex-wrap: nowrap;
        }
        li {
            display: flex;
            width: 100vw;
            text-align: center;
            color: $color-light-gray;
            justify-content: space-around;
            cursor: default;
            div {
                display: flex;
                flex-direction: column;           
                &:nth-child(1), &:nth-child(2) {
                    margin-bottom: 2em;
                }
                
                i {
                    font-size: get-px-to-rem(60px);
                    padding-bottom: 15px;
                    transition: .6s font-size ease;
                    @include media-breakpoint-up(sm) {
                        font-size: get-px-to-rem(70px);
                    }
                    @include media-breakpoint-up(md) {
                        font-size: get-px-to-rem(75px);
                    }
                }
                span {
                    font-size: get-px-to-rem(18px);
                    transition: .6s font-size ease;
                    @include media-breakpoint-up(sm) {
                        font-size: get-px-to-rem(18px);
                    }
                    @include media-breakpoint-up(md) {
                        font-size: get-px-to-rem(22px);
                    }
                }
                &:hover {
                    color: $color-medium-gray;
                    transition: .6s color ease;
                }
            }
            
        }
        
    }
    
}