.testimonials {
    background-color: $color-base;
    color: $color-white;
    text-align: center;
    padding-bottom: 60px;
    min-height: 620px;
    @include media-breakpoint-up(sm) {
        min-height: 368px;
    }
    .container {
        min-height: 620px;
        @include media-breakpoint-up(sm) {
            min-height: 368px;
        }
        position: relative;
        .quote-icon {
            top: 30px;
            position: absolute;
            color: $color-base-medium;
            font-size: get-px-to-rem(300px);
            transform: scaleY(-1);
            z-index: 0;
            left: 0;
        }
        h3{
            width: 100%;
            z-index: 1;
        }
        ul {
            margin: 0 auto;
            z-index: 1;
            display: flex;
            li:not(:first-child) {
                display: none;
            }
        }
        p {
            z-index: 1;
            margin: 0 auto;
            width: 64vw;
            line-height: 30px;
            transition: .6s all ease;
            &.message {
                padding-bottom: 40px;
            }
            &.name {
                &:before {
                    content: '-';
                    padding-right: 5px;
                }
            }
        }
        .left-arrow {
            left: 6vw;
            @include testimonial-arrows
        }
        .right-arrow {
            right: 6vw;
            @include testimonial-arrows
        }
    }
}