.timeline {
  margin-bottom: 30px;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 320px;
  padding: 10px;
  gap: 12px;
  position: relative;
}

.milestone .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out 0.3s;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
}

.milestone h3 {
  font-size: 18px;
  position: relative;
  padding: 10px;
  border: 1px solid #94a3b8;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(208, 208, 208, 1);
  color: #52525b;
  text-align: center;
}

.milestone:hover .content {
  width: 220px;
  transition: width 0.3s ease-in-out;
}

.milestone .content h4 {
  font-weight: 500;
  padding-bottom: 10px;
}

.milestone:hover .content {
  height: auto;
  border: 1px solid #94a3b8;
  transition: height 0.3s ease-in-out 0.3s ease-in-out 0.1s;
  padding: 10px 20px;
  box-sizing: content-box;
  box-shadow: 2px 5px 3px rgba(238, 238, 238, 0.5);
}

.milestone:hover .content p {
  padding-bottom: 10px;
}

.milestone .tags {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  margin-top: 4px;
}

.milestone .tags li {
  border: 1px dashed #f97316;
  border-radius: 0.8rem;
  padding: 4px 8px;
  white-space: nowrap;
  color: #f97316;
  font-size: 12px;
}

.milestone:last-child .content .tags li:last-child {
  background-color: #f97316;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .timeline {
    width: 450px;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
  }
}
