@font-face {
    font-family: $font-base;
    src: url(../../assets/fonts/Avenir/AvenirLTStd-Book.otf)  format("opentype");
}

@font-face {
    font-family: $font-avenir-medium-bold;
    src: url(../../assets/fonts/Avenir/AvenirLTStd-Medium.otf)  format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: $font-yu-gothic-regular;
    src: url(../../assets/fonts/yu-gothic/YuGothR.ttc) format("truetype");
}

@font-face {
    font-family: $font-agencyfb-regular;
    src: url(../../assets/fonts/agencyfb/AGENCYR.TTF) format("truetype");
}